.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #212529;
}
.leftComponents, .centerComponents, .rightComponents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin: 7px;
  font-size: 10pt;
  width: 100%;
  max-width: 300px;
}
